* {
margin : 0;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

@font-face {
	font-family: "OpenSans";
	src: url(./fonts/OpenSans-Regular.ttf);
}

:root {
	--font-OpenSans: "OpenSans";
}

