body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* @font-face {
  font-family: "NotoSans";
  src: url(./static/fonts/NotoSansKR-Regular.otf);
}

@font-face {
  font-family: "OpenSans";
  src: url(./static/fonts/OpenSans-Regular.ttf);
}

@font-face {
  font-family: "Poppins";
  src: url(./static/fonts/Poppins-Regular.ttf);
} */
@font-face {
  font-family: "Pretendard-Bold";
  src: url(./static/fonts/Pretendard-Bold.otf);
  font-weight: bold;
}
@font-face {
  font-family: "Pretendard-ExtraLight";
  src: url(./static/fonts/Pretendard-ExtraLight.otf);
}
@font-face {
  font-family: "Pretendard-SemiBold";
  src: url(./static/fonts/Pretendard-SemiBold.otf);
}
@font-face {
  font-family: "Pretendard-Light";
  src: url(./static/fonts/Pretendard-Light.otf);
}
@font-face {
  font-family: "Pretendard-Regular";
  src: url(./static/fonts/Pretendard-Regular.otf);
}

:root {
  --font-NotoSans: "NotoSans";
  --font-OpenSans: "OpenSans";
  --font-Poppins: "Poppins";
  --font-Pretendard-Bold: "Pretendard-Bold";
  --font-Pretendard-ExtraLight: "Pretendard-ExtraLight";
  --font-Pretendard-SemiBold: "Pretendard-SemiBold";
  --font-Pretendard-Light: "Pretendard-Light";
  --font-Pretendard: "Pretendard-Regular";
}
